@import "middle-buttons";

$border-style: 5px solid #0c0811;

@mixin simon-button-big($color) {
  background: $color;
  height: 190px;
  width: 190px;
  cursor: pointer;
}

#simon-button-upper-left {
  @include simon-button-big(#A00);
  border-right: $border-style;
  border-bottom: $border-style;
}

#simon-button-upper-left:active {
  background: #e00;
}

#simon-button-upper-right {
  @include simon-button-big(darken(#00d119, 30%));
  border-left: $border-style;
  border-bottom: $border-style;
}

#simon-button-upper-right:active {
  background: #00d119;
}

#simon-button-lower-left {
  @include simon-button-big(darken(#0017e6, 25%));
  border-right: $border-style;
  border-top: $border-style;
}

#simon-button-lower-left:active {
  background: #0017e6;
}

#simon-button-lower-right {
  @include simon-button-big(#ACBC00);
  border-left: $border-style;
  border-top: $border-style;
}

#simon-button-lower-right:active {
  background: #fff000;
}
