@import "middle-buttons";

@mixin big-buttons($color, $top, $right, $bottom, $left) {
  background: $color;
  flex-basis: 50%;
  padding: 0;
  border-style: solid;
  border-width: $top $right $bottom $left;
  border-color: #0c0811;
  cursor: pointer;
}

#simon-button-upper-left {
  @include big-buttons(lighten(red, 20%), 0, 8px, 8px, 0);
}

#simon-button-upper-left:hover {
  background: red;
}

#simon-button-upper-right {
  @include big-buttons(green, 0, 0, 8px, 8px);
}

#simon-button-upper-right:hover {
  background: lighten(green, 30%);
}

#simon-button-lower-left {
  @include big-buttons(lighten(blue, 10%), 8px, 8px, 0, 0);
}

#simon-button-lower-left:hover {
  background: blue;
}

#simon-button-lower-right {
  @include big-buttons(darken(yellow, 20%), 8px, 0, 0, 8px);
}

#simon-button-lower-right:hover {
  background: yellow;
}
