@import "buttons";

$border-color: #0c0811;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #dbd5b5;
}

//Center Simon in the middle of the screen as well as the inner options
@mixin center-middle($width, $height) {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  height: $height;
}
//The whole container containing the game
#simon {
  @include center-middle(45%, 62%);
  border: 20px solid $border-color;
  -webkit-box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
//The middle block with the options
#middle {
  @include center-middle(63%, 65%);
  border: 6px solid #000000;
  background: #f8c537;
  h1 {
    padding-top: 11px;
    text-align: center;
    font-family: "Fascinate Inline", cursive;
  }

  div {
    div {
      font-family: "Noto Serif", serif;
    }
  }
}
//The counter which shows the player in which round he is
#counter {
  text-align: center;
  border: 5px solid $border-color;
  background: #000;
  color: #d91205;
  margin: 0 14 0 11;
}

#switch-row {
  text-align: center;
  margin-top: 23px;
}
